<a href="https://colab.research.google.com/github/jonhsel/Data-Science/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="jonhselmo logo" width="15%" src="https://raw.githubusercontent.com/jonhsel/Data-Science/master/img/JSDATASCIENCE%20BLACK.png">

by [jonhselmo.com.br](https://jonhselmo.com.br)

#Introdução ao Pandas
O Pandas é uma biblioteca python para análise de dados e uma das ferramentas mais utilizadas pelos cientistas de dados.

#Utitlização do Pandas

##Importação de módulos

In [0]:
#importação da biblioteca pandas
import pandas as pd

##Arquivos CSV

Será utilizado um dataset extraído da Yahoo Finance com os dados das ações ordinárias do Banco do Brasil (BBSA3), em formato `csv`

In [0]:
#DataFrame recebendo o dataset em csv
df = pd.read_csv('https://raw.githubusercontent.com/jonhsel/Data-Science/master/dataset/BBAS3.SA.csv')

Verificando o tipo de arquivo do objeto DataFrame

In [3]:
#Tipo do arquivo
type(df)

pandas.core.frame.DataFrame

In [4]:
#Tipo de arquivo da coluna do DataFrame
type(df['High'])

pandas.core.series.Series

Observa-se que o `df` é um objeto do tipo DataFrame e as colunas - `df['High']`são objetos do tipo Series. Logo, um conjunto de Series formam um DataFrame

##Dimensões de um DataFrame

A dimensão ou formato (ou shape) de um DataFrame pode ser identidicado a partir do método `shape()`.

In [5]:
#Ver dimensão do DataFrame
df.shape

(248, 7)

O retorno é uma tupla onde o primeiro elemento é o número de linhas e o segundo elemento o número de colunas(atriutos)

##Visão geral do dataset

* `head()` - permite visualizar as 05 primeiras entradas

In [6]:
#Visualizar as 05 primeiras colunas
df.head()

         Date       Open       High  ...      Close  Adj Close      Volume
0  2019-06-10  52.049999  52.200001  ...  51.869999  49.679665   9141300.0
1  2019-06-11  52.400002  52.900002  ...  52.900002  50.666183  13132800.0
2  2019-06-12  52.880001  53.000000  ...  52.259998  50.215572   8819600.0
3  2019-06-13  52.250000  52.669998  ...  51.430000  49.418053  15531800.0
4  2019-06-14  51.340000  51.500000  ...  50.520000  48.543644  13100600.0

[5 rows x 7 columns]

* `tail()` - permite visualizar as 05 últimas entradas

In [7]:
#Visualizar as 05 últimas entradas
df.tail()

           Date       Open       High  ...      Close  Adj Close      Volume
243  2020-06-02  32.599998  32.900002  ...  32.820000  32.820000  15772200.0
244  2020-06-03  34.470001  35.000000  ...  34.750000  34.750000  29497200.0
245  2020-06-04  34.430000  35.570000  ...  34.939999  34.939999  23947100.0
246  2020-06-05  37.410000  38.169998  ...  35.200001  35.200001  35294100.0
247  2020-06-08  35.820000  36.810001  ...  36.220001  36.220001  16644300.0

[5 rows x 7 columns]

* `columns` - permite visualizar os nomes das colunas;

In [8]:
#Nomes das colunas
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

* `types` - permite conhecer os tipos das variávies;

In [9]:
#Tipos das variáveis
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

Outra forma de conhecer o tipo das variáveis é utilizar o método `info()`.

Observa-se que, além do tipo das variáveis, será retornado o quantitativo de registros **não nulos**.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       248 non-null    object
 1   Open       247 non-null    float64
 2   High       247 non-null    float64
 3   Low        247 non-null    float64
 4   Close      247 non-null    float64
 5   Adj Close  247 non-null    float64
 6   Volume     247 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.7+ KB

##Seleção de colunas ou `séries`

A seleção de colunas, ou atributos, ou subconjuntos em um DataFrame, pode ser realizada rapidamente da seguinte forma:

In [11]:
#nomedoDataFrame['nomedaColuna']
df['High']

0      52.200001
1      52.900002
2      53.000000
3      52.669998
4      51.500000
         ...
243    32.900002
244    35.000000
245    35.570000
246    38.169998
247    36.810001
Name: High, Length: 248, dtype: float64

In [12]:
#nomedoDataFrame.nomedaColuna
df.High

0      52.200001
1      52.900002
2      53.000000
3      52.669998
4      51.500000
         ...
243    32.900002
244    35.000000
245    35.570000
246    38.169998
247    36.810001
Name: High, Length: 248, dtype: float64

Lembrando que a forma acima só funciona caso o nome não tenha espaços ou caracteres especiais.

##Realizando análises rápidas

Caso a coluna seja de valores numéricos, podemos rapidamente obter informações, como:

In [14]:
#media da coluna
df.High.mean()

44.5461943846154

In [15]:
#mediana da coluna
df.High.median()

47.779999

In [16]:
#desvio padrão
df.High.std()

8.81295442080673

##Trabalhando com DATAS

Em alguns casos existe a necessidade de manipular datas, e algumas vezes as recebemos como `string`.

In [17]:
#Coluna de datas
df.Date

0      2019-06-10
1      2019-06-11
2      2019-06-12
3      2019-06-13
4      2019-06-14
          ...
243    2020-06-02
244    2020-06-03
245    2020-06-04
246    2020-06-05
247    2020-06-08
Name: Date, Length: 248, dtype: object

Neste caso a coluna `Date` é do tipo `object`, uma `string`.

In [0]:
#converter para o tipo datetime
df.Date = pd.to_datetime(df.Date, format='%Y-%m-%d')

In [19]:
df.Date

0     2019-06-10
1     2019-06-11
2     2019-06-12
3     2019-06-13
4     2019-06-14
         ...
243   2020-06-02
244   2020-06-03
245   2020-06-04
246   2020-06-05
247   2020-06-08
Name: Date, Length: 248, dtype: datetime64[ns]

A partir desse ponto podemos realizar o fatiamento, utilizando os recursos do método Datetime.

df.Date.`dt` - acessando os módulos do `datetime`.

In [21]:
df.Date.dt.year

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
243    2020
244    2020
245    2020
246    2020
247    2020
Name: Date, Length: 248, dtype: int64

In [22]:
df.Date.dt.month

0      6
1      6
2      6
3      6
4      6
      ..
243    6
244    6
245    6
246    6
247    6
Name: Date, Length: 248, dtype: int64

In [24]:
df.Date.dt.day

0      10
1      11
2      12
3      13
4      14
       ..
243     2
244     3
245     4
246     5
247     8
Name: Date, Length: 248, dtype: int64

In [25]:
df.Date.dt.dayofweek

0      0
1      1
2      2
3      3
4      4
      ..
243    1
244    2
245    3
246    4
247    0
Name: Date, Length: 248, dtype: int64